<a href="https://colab.research.google.com/github/AshleyKnight25/2025-HUDS-Bootcamp/blob/main/Exit_Ticket_Print_and_DTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

## Numeric Data Type

You can check the data type of an object using the `type()` command.
The syntax looks like this: `type(variableName)`

### Your turn now.
Store the following into three different objects and check their data types:
* 2
* 1086J
* 3.14567

In [1]:
# Create an object with a value of 2
silverlump = 2

# Check the data type
type(silverlump)

int

In [2]:
# Create an object with a value of 1086J
goldlump = 1086J

# Check the data type
type(goldlump)

complex

In [4]:
# Create an object with a value of 3.14567
chromelump = 3.14567

# Check the data type
type(chromelump)

float

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [5]:
# Printing your name
My_Name =

# Check the results of the My_Name variable
My_Name

SyntaxError: invalid syntax (<ipython-input-5-8c092563c184>, line 2)

In [7]:
# Check the data type of the My_Name variable
My_Name = "Ashley"

You can combine string methods with print statements to request information from a user. This uses the `input` statement and gives users a blinking cursor to enter information.

Complex print statements are also possible where it prints string text, the contents of a variable, and even perform small operations in the statement and return the results. In the example below we will create a variable called `my_name` and use the input method to ask the user to input their name. From there we can print a statement saying hello, the user's entered name, and some punctuation. In the next print statement we can use the `type()` method to print the data type of the variable `my_name`.

In [15]:
# Set the variable to a specific name
my_name = "Ashley"

# Use a print statement to check your input. Add a greeting to your statement.
print("Hello", my_name, "!")

# Now use a print statement to tell the user the data type.
print("Your name is a", type(my_name))

Hello Ashley !
Your name is a <class 'str'>

# Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [16]:
# Let's check how many characters does your name contain.
# Syntax: len(Ashley)

In [20]:
# Let's see if My_Name is all Caps or not.
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.
# Syntax: Ashley.isupper()
print("Your name has", len(my_name), "characters.")

Your name has 6 characters.

In [23]:
# Let's convert My_Name to all caps.
# Syntax: variableName = variableName.upper()
# Syntax: variableName = Ashley.upper()
print(my_name.upper())
# Call the variable using the variable name.

ASHLEY

In [ ]:
# Check the uppercase again,
# Now the output of isupper() changes to True.

In [26]:
# Your turn to try it now.
# Write a sentence and store it into an object.
# Don't forget quotation marks for strings
new_sentence = "Today is a beautiful day to learn Python"

# Use a print statement to view your new_sentence
print(new_sentence)

# Use the .upper() method in a print statement to print the upper case sentence
# HINT: Use a print statement, your variable name, and the .upper() method
print(new_sentence.upper())

# Use the .capitalize() method to print the sentence with the first word capitalized.
print(new_sentence.capitalize())

# Use the .title() method to print the sentence with the first letter of each word capitalized.
print(new_sentence.title())

Today is a beautiful day to learn Python
TODAY IS A BEAUTIFUL DAY TO LEARN PYTHON
Today is a beautiful day to learn python
Today Is A Beautiful Day To Learn Python

In [ ]:
# Check the data type of the object you just created.

In [ ]:
# Check if it is all caps or not.
# Syntax: variableName.isupper()

In [ ]:
# Challenge - Check if it is all lower case or not.
# Use the example above to complete the challenge question

In [ ]:
# Challenge - Convert your object into all caps.

In [ ]:
# Challenge - Convert your object into all lower case.

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [ ]:
# Create two variables, one with a value of True, one with a value of False

In [ ]:
# Check the data type of your new variables
# HINT: you can check multiple items by separating the statements with a comma

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [ ]:
# Create an object containing an integer.

In [ ]:
# Check the data type of your new object

In [ ]:
# You want to use the value 1 as text. So let's convert it.
# Syntax: variableName = str(variableName)

In [ ]:
# Check the data type of your new object again.

In [ ]:
# Exercise for you. Store the number 123456 as string.

# Check the data type

In [ ]:
# Let's do the opposite now.
# Create a variable and assign a numeric value as a string
# HINT: Any value inside of quotes is a string

# Check the data type of your variable

In [ ]:
# Let's learn to convert string to integer now.
# Syntax: variableName = int(variableName)

# Check the data type

In [ ]:
# Let's convert a string to a float.
# Syntax: variableName = float(variableName)

# Check the data type

Good job so far!
You can also try converting strings to boolean and vice versa.
You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats.
But very often we come across data being stored incorrectly especially while importing.

In [27]:
# Check the data type of the object you just created.
print(type(new_sentence))

<class 'str'>

In [28]:
# Check if it is all caps or not.
# Syntax: variableName.isupper()
print(new_sentence.isupper())

False

In [29]:
# Challenge - Check if it is all lower case or not.
# Use the example above to complete the challenge question
print(new_sentence.islower())

False

In [30]:
# Challenge - Convert your object into all caps.
print(new_sentence.upper())

TODAY IS A BEAUTIFUL DAY TO LEARN PYTHON

In [31]:
# Challenge - Convert your object into all lower case.
print(new_sentence.lower())

today is a beautiful day to learn python

In [32]:
# Create two variables, one with a value of True, one with a value of False
boolean_true = True
boolean_false = False

In [33]:
# Check the data type of your new variables
# HINT: you can check multiple items by separating the statements with a comma
print(type(boolean_true), type(boolean_false))

<class 'bool'> <class 'bool'>

In [34]:
# Create an object containing an integer.
integer_variable = 10

In [35]:
# Check the data type of your new object
print(type(integer_variable))

<class 'int'>

In [36]:
# You want to use the value 1 as text. So let's convert it.
# Syntax: variableName = str(variableName)
string_variable = str(integer_variable)

In [37]:
# Check the data type of your new object
print(type(string_variable))

<class 'str'>

In [38]:
# Exercise for you. Store the number 123456 as string.
string_number = "123456"

# Check the data type
print(type(string_number))

<class 'str'>

In [39]:
# Let's do the opposite now.
# Create a variable and assign a numeric value as a string
# HINT: Any value inside of quotes is a string
numeric_string = "789"

# Check the data type of your variable
print(type(numeric_string))

<class 'str'>

In [40]:
# Let's learn to convert string to integer now.
# Syntax: variableName = int(variableName)
integer_from_string = int(numeric_string)

# Check the data type
print(type(integer_from_string))

<class 'int'>

In [41]:
# Let's convert a string to a float.
# Syntax: variableName = float(variableName)
float_from_string = float(numeric_string)

# Check the data type
print(type(float_from_string))

<class 'float'>